    table, th, td {
        border: 1px solid #353B84!important;
    }
    th{
        background-color: #E1DFFD!important;
        font-size: 23px!important; 
        font-weight: 500px!important;
    }
    tr{
        height: 60px;
        color: #353B84!important;
    }
    td{
        font-size: 18px!important; 
        height:40px;
        background-color: #F2F3F4;
        color: #353B84!important;
    }
    .search{
         background-color: #F2F3F4;
         margin-right: 20px;
    }
    .subject{
        text-align: right; 
        color: #353B84!important;
        font-weight: 500px!important;
        padding: 8px!important;
    }
    .fa_fa_icon{
        color: black;
        margin-right: 10px;
    }
    .button_primary_color{
        background-color: #353B84!important;
        color: #ffffff!important;
    }
    .display_flex{
        display: flex;
    }
    .task_input{
        padding: 30px 30px!important;
        font-size: 30px!important;
        border-radius: 0px!important;
        border-color: #353B84!important;
        background-color: #F2F3F4!important;
    }
    .col-form-label{
        font-size: 18px!important;
    }
    .input{
        background-color: #F2F3F4!important;
        border-radius: 0px!important;
        border-color: #353B84!important;
    }
    .input_hightlight{
        border-radius: 0px!important;
        border-color: #353B84!important;
    }
    .highlight{
        background-color: #F2F3F4!important;
    }
    .lable_highlight{
        color: #353B84!important;
    }
    .lable_highlight_margin_null{
        margin-bottom: 0px!important;
    }
    .plus_minus_button{
        padding: 3px 12px; 
        font-size: 20px;
        border: 1px solid #353B84!important;
    }